header{
	background-color: #aaa;
	width: 100%;

}
header a#logo-link{
	display: inline-block;
	height: 100px;
	width: 100px;
	background-image: url('../images/alex.jpg');
	border-radius: 50px;
	background-size: 150%;
	background-position: -10px -20px;
}